<link rel="stylesheet" href="stylesheets/General.css" />
  <link rel="stylesheet" href="stylesheets/experiencias.css">
  <link rel="stylesheet" href="stylesheets/normalize.css">
<body id="paisaje" data-speed="4" class="background">
<main class="holder">
    <div class="card-group">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="images/experiencias/villalaangostura.jpg" width="400" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Carla, visito Villa la Angostura</h5>
              <p class="card-text">El camino hacia la ciudad es hermoso las vistas son increibles y la gente es muy amable, hice varias excursiones y me gustaronn mucho recomiendo muchisimo visitar esta ciudad a que tiene un encanto de pueblito.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/experiencias/Bariloche.jpg" width="400" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jesica, visito Bariloche</h5>
              <p class="card-text">Las vistas desde lago Nahuel Huapi son imponentes,el catamaran que viaja entre los lagos es hermoso y cada paisaje te enamora cada vez mas de la zona, las pistas de ski en el cerro catedra son las mejores, sin dudas es una ciudad que volveria a visitar.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/experiencias/sanmartindelosandes.jpg" width="400" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Joaquin, visito San Martin de los Andes</h5>
              <p class="card-text"> El camino desde Villa la Angostura hace que la entrada a la ciudad sea increible, es un lindo lugar para esquiar y pasear.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/experiencias/elbolson.jpg" width="400" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juan Carlos, visito El Bolsón</h5>
              <p class="card-text"> Es una zona hermosa para acampar y hacer trekking, conocer lugares increibles y pasar unos dias fuera del mundo.  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  </body>