<link rel="stylesheet" href="stylesheets/home.css">

<body id="paisaje" data-speed="4" class="background">

  <main class="holder">
    <div class="bienvenidos">
      <h2>¡Bienvenido/a!</h2>
      <div>
        <p>
          La Patagonia Argentina es un vasto territorio cargado de misterio, generador de un fuerte magnetismo, poseedor
          de un increíble poder de seducción, capaz de cautivar a todo aquel que se acerque hasta estos parajes y se
          deje abrazar por la inmensidad de sus horizontes, hasta rendirse ante tan contundente demostración de la
          insignificancia del ser frente a la sublime majestuosidad de la naturaleza.
        </p>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>