<link rel="stylesheet" href="stylesheets/transportes.css">
<body>
<main class="holder">
    <div class="card-group">
      <div class="card" style="width: 25rem;">
        <img src="images/transportes/colectivo.jpg" width="650" height="300" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Compra tus pasajes online para viajar en micro en el link que esta debajo.</p>
            <a href="https://www.centraldepasajes.com.ar/" target="blank" class="btn btn-primary">Central de Pasajes</a>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="images/transportes/avion.jpg" width="650" height="300" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Compra tus pasajes online para viajar en avion en el link que esta debajo
            content.</p>
            <a href="https://www.despegar.com.ar/vuelos/" target="blank" class="btn btn-primary">Despegar</a>
        </div>
      </div>
    </div>
  </main>
  </body>